# ----------------------
# Python
# ----------------------
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Virtual environments
.env
.envrc
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.pdm-python
.pdm-build/
.pixi
__pypackages__/

# ----------------------
# Packaging / Distribution
# ----------------------
build/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# ----------------------
# Installer logs
# ----------------------
pip-log.txt
pip-delete-this-directory.txt

# ----------------------
# Testing / Coverage
# ----------------------
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py.cover
.hypothesis/
.pytest_cache/
cover/

# ----------------------
# Jupyter
# ----------------------
.ipynb_checkpoints/

# ----------------------
# Logs & temporary files
# ----------------------
*.log
*.tmp

# ----------------------
# Databases
# ----------------------
db.sqlite3
db.sqlite3-journal

# ----------------------
# Documentation
# ----------------------
docs/_build/
site/

# ----------------------
# Type checkers / linters
# ----------------------
.mypy_cache/
.dmypy.json
.pyre/
.pytype/
.ruff_cache/

# ----------------------
# IDEs and editors
# ----------------------
.vscode/
.idea/
*.swp
.spyderproject
.spyproject
.ropeproject

# ----------------------
# OS files
# ----------------------
.DS_Store
Thumbs.db

# ----------------------
# Project-specific data
# ----------------------
data/raw/
data/raw/*.sgm
data/raw/*.tar.gz
data/processed/*.csv

# ----------------------
# Misc
# ----------------------
instance/
.webassets-cache
.scrapy
celerybeat-schedule
celerybeat.pid
*.manifest
*.spec
*.mo
*.pot
local_settings.py
.abstra/
.cursorignore
.cursorindexingignore
cython_debug/
marimo/_static/
marimo/_lsp/
__marimo__/
